{% if bgp is defined %}
{% for item in bgp.neighbor %}
set protocols bgp {{ bgp.asn }} neighbor {{ item.address }} ebgp-multihop '2'
set protocols bgp {{ bgp.asn }} neighbor {{ item.address }} remote-as '{{ item.remote_as }}'
set protocols bgp {{ bgp.asn }} neighbor {{ item.address }} address-family ipv4-unicast
{% endfor %}
{% for item in bgp.networks %}
set protocols bgp {{ bgp.asn }} address-family ipv4-unicast network '{{ item.network }}{{ item.mask }}'
{% endfor %}
set protocols bgp {{ bgp.asn }} parameters router-id '{{ loopback.dum0.address }}'
{% endif %}